/*
@media (max-width: 992px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}*/
@media screen and (min-width: 0px) and (max-width: 480px) {

    .btn-lg img {
        display: none;
    }

    .btn-lg {
        padding: 10px 14px;
        font-size: 17px;
    }

    /*.slider-calculation-index .btn-lg img {
        display: none;
    }
    .slider-calculation-index .btn-lg {
        padding: 10px 14px;
        font-size: 17px;
    }*/
    .description-tabs-container .tab-content {
        padding-left: 15px;
        padding-right: 15px;
    }

    .header-block:before, .header-block:after {
        font-size: 25px;
        width: 25px;
    }

}

@media screen and (min-width: 0px) and (max-width: 767px) {
    h1 {
        font-size: 24px;
    }

    .content-section-inner {
        padding: 20px;
    }

    .img-responsive {
        margin: 0 auto;
    }

    .navbar-nav {
        margin-bottom: 0px;
    }

    .nav-system-main li {
        border-right: none;
        border-bottom: 1px solid #6ea72b;
    }

    .nav-system-main li:last-child a span {
        border-bottom: 1px dotted #ffffff;
    }

    .logo-inverse {
        margin: 0 auto;
    }

    .footer-index .footer-item:nth-child(1), .footer-index .footer-item:nth-child(2) {
        border-bottom: 1px solid #3f3f3f;
    }

    .footer-index .footer-item:nth-child(1) {
        padding-bottom: 20px;
    }

    .footer-index .footer-item:nth-child(2) {
        padding-top: 10px;
        padding-bottom: 20px;
    }

    .footer-index .footer-item:nth-child(3) {
        padding-top: 20px;
        border-bottom: 1px solid #3f3f3f;
        width: 100%;
        padding-bottom: 20px;
    }

    .footer-company-description {
        border-top: none;
        padding-top: 0px
    }

    .phone-index-container {
        float: none;
        width: 220px;
        margin: 0 auto;
    }

    .home-item {
        display: none !important;
    }

    .slider-label {
        text-align: left;
        margin-top: 0px;
        margin-bottom: 10px;
    }

    .explanation-container {
        margin-top: 40px;
    }

    .percent-label-index {
        margin: 0 auto;
        margin-top: 30px;
    }

    .advert-image {
        margin: 0 auto;
        margin-top: 30px;
    }

    .work-index-item {
        clear: both;
        margin-bottom: 40px;
    }

    .work-index-item img {
        margin: 0 auto;
    }

    .wave-layout {
        background-image: none;
    }

    .description-tabs-container .nav-tabs > li > a {
        font-size: 16px;
    }

    .wave-layout .work-index-item:nth-child(2) img {
        margin-top: 0px;
    }

}

@media screen and (min-width: 0px) and (max-width: 991px) {
    .payment-metod-row li:first-child {
        clear: both;
        width: 100%;
        margin-bottom: 1rem;
    }

    .payment-metod-row li img {
        padding-left: 0px;
        padding-bottom: 30px;
    }
}

@media screen and (min-width: 0px) and (max-width: 1199px) {
    .explanation-container {
        padding-top: 0px;
        padding-bottom: 0px;
        margin-right: 0px;
    }

    .explanation-item {
        border-bottom: 1px dotted #6f9b10;
        padding-top: 15px;
        padding-bottom: 10px;
    }

    .explanation-container .explanation-item:last-child {
        border-bottom: none;
    }

    .description-tabs-container .nav-pills li {
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
    }

    .description-tabs-container .nav-pills li a {
        margin-right: 0px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {

    .nav-system-main li a {
        padding: 10px 8px 9px 8px;
        font-size: 14px;
    }

    .home-item {
        display: none !important;
    }

    .header-top-container .header-col-item:nth-child(1) {
        padding-top: 18px;
    }

    .header-top-container .header-col-item:nth-child(4) {
        padding-top: 30px;
    }

    .footer-layout .nav-system-inverse {
        margin-top: 0px;
    }

    .nav-system-inverse li a {
        font-size: 14px
    }

    .percent-label-index {
        width: 100px;
        height: 100px;
        font-size: 34px;
        line-height: 100px;
    }

    .wave-layout {
        background-position: center left 100px;
    }

}

@media screen and (min-width: 992px) and (max-width: 1199px) {

    .logo-inverse {
        width: 130px;
        height: 37px;
    }

    .footer-layout .nav-system-inverse {
        margin-top: 0px;
    }

    .footer-container .row .footer-item:nth-child(2) {
        width: 58.333%;
    }

    .footer-container .row .footer-item:nth-child(3) {
        width: 25%;
    }

    .percent-label-index {
        width: 105px;
        height: 105px;
        font-size: 40px;
        line-height: 110px;
    }

    .wave-layout {
        background-position: center left 210px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 4000px) {
    .explanation-container .explanation-item:nth-child(1), .explanation-container .explanation-item:nth-child(2) {
        width: 31.33333333%;
    }

    .explanation-container .explanation-item:nth-child(3) {
        width: 37.33333333%;
    }

    .footer-container .row .footer-item:nth-child(2) {
        width: 61.333%;
    }

    .footer-container .row .footer-item:nth-child(3) {
        width: 21%;
    }
}