body {
    background-color: #f5f5f5;
    font-family: "Open Sans Light", Helvetica, Arial, sans-serif;
    color: #2b2b2b;
}

h1 {
    font-family: "Roboto Condensed Light", sans-serif;
    font-size: 27px;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 40px;
}

h2 {
    font-family: "Roboto Condensed Bold", sans-serif;
    font-size: 22px;
    margin-top: 50px;
    margin-bottom: 40px;
}

h2.header-bordered-green {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 24px;
}

h2.header-bordered-green span {
    display: inline-block;
    border-bottom: 2px solid #53b61d;
    padding-bottom: 5px;
}

h2.header-bordered-blue {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 24px;
}

h2.header-bordered-blue span {
    display: inline-block;
    border-bottom: 2px solid #44bfcf;
}

h2.header-bordered-red {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 24px;
}

h2.header-bordered-red span {
    display: inline-block;
    border-bottom: 2px solid #b535b4;
}

h2.header-bordered-orange {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 24px;
}

h2.header-bordered-orange span {
    display: inline-block;
    border-bottom: 2px solid #fd7e3f;
}

h3 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 19px;
}

h4.question-success {
    background-image: url("../images/icons/i-question-blue.png");
    background-repeat: no-repeat;
    min-height: 32px;
    font-family: "Open Sans Bold", sans-serif;
    color: #000000;
    font-size: 15px;
    text-decoration: underline;
    padding-left: 50px;
    padding-top: 6px;
    cursor: pointer;
    margin-top: 20px;
}

h4.question-default {
    background-image: url("../images/icons/i-question-green.png");
    background-repeat: no-repeat;
    min-height: 32px;
    font-family: "Open Sans Bold", sans-serif;
    color: #000000;
    font-size: 15px;
    text-decoration: underline;
    padding-left: 50px;
    padding-top: 6px;
    cursor: pointer;
    margin-top: 20px;
}

h4.question-danger {
    background-image: url("../images/icons/i-question-red.png");
    background-repeat: no-repeat;
    min-height: 32px;
    font-family: "Open Sans Bold", sans-serif;
    color: #000000;
    font-size: 15px;
    text-decoration: underline;
    padding-left: 50px;
    padding-top: 6px;
    cursor: pointer;
    margin-top: 20px;
}

h4.question-warning {
    background-image: url("../images/icons/i-question-orange.png");
    background-repeat: no-repeat;
    min-height: 32px;
    font-family: "Open Sans Bold", sans-serif;
    color: #000000;
    font-size: 15px;
    text-decoration: underline;
    padding-left: 50px;
    padding-top: 6px;
    cursor: pointer;
    margin-top: 20px;
}

h4 {
    font-family: "Open Sans Bold", sans-serif;
    font-size: 15px;
    text-transform: uppercase;
}

p {
    margin: 0px 0px 40px 0px;
    line-height: 200%;
}

/* Отступы*/
.m-x-auto {
    margin-right: auto !important;
    margin-left: auto !important
}

.m-a-0 {
    margin: 0 0 !important
}

.m-t-0 {
    margin-top: 0 !important
}

.m-r-0 {
    margin-right: 0 !important
}

.m-b-0 {
    margin-bottom: 0 !important
}

.m-l-0 {
    margin-left: 0 !important
}

.m-x-0 {
    margin-right: 0 !important;
    margin-left: 0 !important
}

.m-y-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important
}

.m-a-1 {
    margin: 1rem 1rem !important
}

.m-t-1 {
    margin-top: 1rem !important
}

.m-r-1 {
    margin-right: 1rem !important
}

.m-b-1 {
    margin-bottom: 1rem !important
}

.m-l-1 {
    margin-left: 1rem !important
}

.m-x-1 {
    margin-right: 1rem !important;
    margin-left: 1rem !important
}

.m-y-1 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important
}

.m-a-2 {
    margin: 1.5rem 1.5rem !important
}

.m-t-2 {
    margin-top: 1.5rem !important
}

.m-r-2 {
    margin-right: 1.5rem !important
}

.m-b-2 {
    margin-bottom: 1.5rem !important
}

.m-l-2 {
    margin-left: 1.5rem !important
}

.m-x-2 {
    margin-right: 1.5rem !important;
    margin-left: 1.5rem !important
}

.m-y-2 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important
}

.m-a-3 {
    margin: 3rem 3rem !important
}

.m-t-3 {
    margin-top: 3rem !important
}

.m-r-3 {
    margin-right: 3rem !important
}

.m-b-3 {
    margin-bottom: 3rem !important
}

.m-l-3 {
    margin-left: 3rem !important
}

.m-x-3 {
    margin-right: 3rem !important;
    margin-left: 3rem !important
}

.m-y-3 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important
}

.p-a-0 {
    padding: 0 0 !important
}

.p-t-0 {
    padding-top: 0 !important
}

.p-r-0 {
    padding-right: 0 !important
}

.p-b-0 {
    padding-bottom: 0 !important
}

.p-l-0 {
    padding-left: 0 !important
}

.p-x-0 {
    padding-right: 0 !important;
    padding-left: 0 !important
}

.p-y-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important
}

.p-a-1 {
    padding: 1rem 1rem !important
}

.p-t-1 {
    padding-top: 1rem !important
}

.p-r-1 {
    padding-right: 1rem !important
}

.p-b-1 {
    padding-bottom: 1rem !important
}

.p-l-1 {
    padding-left: 1rem !important
}

.p-x-1 {
    padding-right: 1rem !important;
    padding-left: 1rem !important
}

.p-y-1 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important
}

.p-a-2 {
    padding: 1.5rem 1.5rem !important
}

.p-t-2 {
    padding-top: 1.5rem !important
}

.p-r-2 {
    padding-right: 1.5rem !important
}

.p-b-2 {
    padding-bottom: 1.5rem !important
}

.p-l-2 {
    padding-left: 1.5rem !important
}

.p-x-2 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important
}

.p-y-2 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important
}

.p-a-3 {
    padding: 3rem 3rem !important
}

.p-t-3 {
    padding-top: 3rem !important
}

.p-r-3 {
    padding-right: 3rem !important
}

.p-b-3 {
    padding-bottom: 3rem !important
}

.p-l-3 {
    padding-left: 3rem !important
}

.p-x-3 {
    padding-right: 3rem !important;
    padding-left: 3rem !important
}

.p-y-3 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important
}

/* Buttons */

.btn {
    font-family: "Roboto Condensed", sans-serif;
    padding: 7px 20px;
    border-radius: 6px;
}

.btn-lg {
    padding: 10px 30px;
    border-radius: 9px;
    font-size: 19px;
}

.btn strong {
    font-family: "Roboto Condensed Bold", sans-serif;
}

/* Navigation */
hr {
    border-top: 1px solid #d6d6d6;
}

.navbar-main {
    background-color: #7ab535;
    min-height: inherit;
    border: none;
    border-radius: 0px;
}

.nav-system-main li:first-child a {
    padding: 9px 18px;
}

.nav-system-main li {
    border-right: 1px solid #6ea72b;
}

.nav-system-main li a {
    padding: 13px 18px 11px 18px;
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    color: #ffffff !important;
}

.nav-system-main li.home-item a:hover, .nav-system-main li.home-item a:focus {
    background-color: #7ab535;
    color: #ffffff !important;
}

.nav-system-main li a:hover, .nav-system-main li a:focus, .nav-system-main li.active a {
    background-color: #41bfcb !important;

}

.nav-system-inverse {
    margin-bottom: 0px;
}

.nav-system-inverse li a {
    color: #adadad;
    text-transform: uppercase;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 15px;
}

.nav-system-inverse li a:hover, .nav-system-inverse li a:focus {
    text-decoration: none;
    color: #ffffff;
}

.nav-system-inverse li.active a {
    color: #ffffff;
    text-transform: uppercase;
    font-family: "Roboto Condensed", sans-serif;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
}

.navbar-header {
    background-color: #ffffff;
    border-bottom: 1px solid #6ea72b;
}

.navbar-brand {
    height: 50px;
    padding: 10px 15px;
}

.navbar-toggle {
    background-color: #41bfcb;
    border-color: #41bfcb !important;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #7ab535;
    border-color: #7ab535 !important;
}

/* End Navigation */

.logo-basic {
    display: block;
    background-image: url("../images/logo-basic.png");
    width: 216px;
    height: 51px;
}

.logo-inverse {
    display: block;
    background-image: url("../images/logo-inverse.png");
    background-size: 100%;
    width: 149px;
    height: 43px;
}

.header-col-item {
    padding-top: 25px;
    padding-bottom: 25px;
}

.header-sticker-item {
}

.header-phone-index .header-phone-number {
    font-size: 22px;
    font-family: "Roboto Condensed Bold", sans-serif;
    color: #383838;
    margin-left: 8px;
    line-height: 100%;
}

.header-phone-index .header-work-limit {
    font-size: 12px;
    color: #383838;
    margin-top: 6px;
    margin-left: 8px;
}

.btn .btn-icon-left {
    margin-right: 10px;
}

.btn-lg .btn-icon-left {
    margin-right: 14px;
    float: left;
}

.btn-default {
    background-color: #41bfca;
    border-color: #41bfca;
    color: #ffffff;
}

.btn-default:hover, .btn-default:active, .btn-default:focus {
    background-color: #00abb6 !important;
    box-shadow: none;
    color: #ffffff !important;
}

.btn-success {
    background-color: #7ab535;
    border-color: #7ab535;
}

.btn-success:hover, .btn-success:active, .btn-success:focus {
    background-color: #49a11a !important;
    box-shadow: none;
}

.btn-danger {
    background-color: #d058a4;
    border-color: #d058a4;
}

.btn-danger:hover, .btn-danger:active, .btn-danger:focus {
    background-color: #e04d94 !important;
    box-shadow: none;
}

/* Footer */
.footer-layout {
    padding-top: 28px;
    padding-bottom: 24px;
    background-color: #2f2f2f;
    margin-top: 40px;
}

.footer-index {
    margin-bottom: 28px;
}

.footer-layout .nav-system-inverse {
    margin-top: 8px;
}

.footer-phone-index .header-phone-number {
    font-size: 22px;
    font-family: "Roboto Condensed Bold", sans-serif;
    color: #f6f5f5;
    margin-left: 8px;
    line-height: 100%;
}

.footer-phone-index {
    float: right;
}

.footer-phone-index .header-work-limit {
    font-size: 12px;
    color: #f6f5f5;
    margin-top: 6px;
    margin-left: 8px;
}

.footer-company-description {
    clear: both;
    padding-top: 20px;
    border-top: 1px solid #3f3f3f;
}

.footer-company-description p {
    color: #757575;
    font-size: 12px;
    margin-bottom: 0px;
}

.phone-index-container {
    float: right;
}

/* Content */
.content-layout {
    margin-top: 50px;
    margin-bottom: 35px;
}

.content-section-inner {
    margin-bottom: 35px;
    background: #ffffff;
    border-radius: 8px;
    padding: 0px 40px 40px 40px;
}

.color-green {
    color: #7ab535;
}

.color-orange {
    color: #d46706;
}

.color-red {
    color: #d058a4;
}

.color-blue {
    color: #41bfca;
}

.bg-white {
    background-color: #ffffff !important;
}

.bg-default {
    background-color: #41bfca !important;
}

.bg-danger {
    background-color: #d158a5 !important;
}

.bg-success {
    background-color: #7ab535 !important;
}

.header-block {
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    display: table;
    margin: 0 auto;
    padding-top: 50px;
    margin-bottom: 40px;
}

.header-block .header-index {
    display: table-cell;
    vertical-align: middle;
    padding-left: 14px;
    padding-right: 14px;
}

.header-block h2 {
    margin-top: 12px;
    margin-bottom: 10px;
}

.header-block:before {
    display: table-cell;
    margin-top: 10px;
    content: "---";
    font-size: 28px;
    font-weight: bold;
    color: #7ab535;
    font-family: "Open Sans Bold";
    vertical-align: middle;
    width: 30px;
}

.header-block:after {
    display: table-cell;
    vertical-align: middle;
    content: "---";
    font-size: 28px;
    font-weight: bold;
    color: #7ab535;
    font-family: "Open Sans Bold";
    width: 30px;
}

.header-block h1 {
    display: inherit;
    padding-top: 4px;
}

.advert-image {
    border-radius: 6px;
}

.slider-calculation-index {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    -webkit-box-shadow: 2px 10px 31px -9px rgba(212, 211, 211, 0.36);
    -moz-box-shadow: 2px 10px 31px -9px rgba(212, 211, 211, 0.36);
    box-shadow: 2px 10px 31px -9px rgba(212, 211, 211, 0.36);
}

.slider-label {
    font-size: 15px;
    margin-top: 20px;
    font-family: "Open Sans Bold", 'Myriad Pro', Arial, sans-serif;
}

.label-range-digit {
    padding-left: 0px;
    font-size: 15px;
    margin-top: 4px;
}

.slider-calculation-index .calculation-item {
    height: 80px;
}

.slider-calculation-index .calculation-item:nth-child(2) {
    margin-top: 50px;
    clear: both;
}

.slider-calculation-index .slider-helper-text {
    color: #383838;
    font-size: 15px;
}

.slider-calculation-index .slider-helper-text span {
    font-family: "Open Sans Bold", sans-serif;
}

.slider-message {
    font-size: 13px;
    font-family: "Open Sans Bold", sans-serif;
    margin-bottom: 0px;
}

.explanation-container {
    background-color: #f2fbe8;
    padding: 19px 0px 19px 0px;
    border: 1px dotted #6f9b10;
    margin-top: 18px;
    margin-right: 15px;
}

.explanation-item {
    font-size: 13px;
}

.explanation-item .pull-left:nth-child(1) {
    margin-top: 5px;
}

.explanation-item p {
    padding-left: 15px;
    margin-bottom: 6px;
    padding-bottom: 0px;
    line-height: 100%;
}

.explanation-item p span {
    font-family: "Open Sans Bold";
    font-size: 15px;
}

.strikeout-text {
    text-decoration: line-through;
}

.percent-label {
    /*background-image: url("../images/elements/percent-label.png");
    width: 100%;
    height: 100%;*/
}

.percent-label-index {
    background-image: url("../images/elements/percent-label.png");
    width: 122px;
    height: 123px;
    font-family: "Open Sans Regular", sans-serif;
    font-size: 50px;
    color: #ffffff;
    z-index: 9999999999;
    text-align: center;
    vertical-align: middle;
    line-height: 120px;
    background-size: 100%;
}

p strong, p b {
    font-family: "Open Sans Bold", sans-serif;
}

.info-text {
    font-size: 13px;
}

.info-desctiption-item p {
    margin-bottom: 0px;
    line-height: 150%;
}

.info-desctiption-item img.pull-left {
    margin-top: 4px;
}

.info-desctiption-item .description-item-index {
    margin-left: 54px;
}

.btn-lg span {
    display: inline-block;
    line-height: 160%;
    margin-left: 5px;
}

.page-main-section {
    margin-top: 60px;
}

.wave-layout {
    background-image: url("../images/layouts/bg-wave.png");
    background-position: center left 315px;
    background-repeat: no-repeat;
}

.panel-advert-list-item {
    border: none;
}

.panel-advert-list-item .panel-body {
    /*padding-top: 1rem;*/
    font-size: 15px;
}

.panel-advert-list-item .panel-body .label-item {
    font-size: 17px;
    font-family: "Open Sans Bold", sans-serif;
    margin-top: 7px;
}

.panel-advert-list-item .panel-body .digits-unit {
    font-size: 24px;
    font-family: "Open Sans Bold", sans-serif;
}

.panel-advert-list-item .panel-body strong {
    font-family: "Open Sans Bold", sans-serif;
}

.panel-advert-list-item .panel-heading {
    border: none;
    color: #ffffff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.panel-advert-list-item .panel-heading h3 {
    font-family: "Roboto Condensed Bold", sans-serif;
    margin-top: 10px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.panel-advert-list-item img.img-responsive {
    margin: 0 auto;
}

.advert-img-container {
    border-bottom: 1px solid #d8d8d8;
}

.panel-advert-list-item .panel-footer {
    padding-top: 30px;
    padding-bottom: 15px;
    background-color: #ffffff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.panel.panel-advert-list-item {
    margin-bottom: 40px;
    -webkit-box-shadow: 2px 10px 31px -9px rgba(212, 211, 211, 0.36);
    -moz-box-shadow: 2px 10px 31px -9px rgba(212, 211, 211, 0.36);
    box-shadow: 2px 10px 31px -9px rgba(212, 211, 211, 0.36);

}

.description-tabs-container {

}

.description-tabs-container .nav-tabs {
    border-bottom: none;
}

.description-tabs-container .tab-content {
margin-top: 40px;
}

/*.description-tabs-container .tab-content p {
    margin: 50px 0px 0px 0px;
    line-height: 220%;
}*/

.description-tabs-container .tab-content p:last-child {
    margin-bottom: 0px;
}

.description-tabs-container .nav-pills > li.active > a,
.description-tabs-container .nav-pills > li.active > a:focus,
.description-tabs-container .nav-pills > li.active > a:hover {
    background-color: #5c911d !important;
    border: none;
}

.description-tabs-container .nav-tabs > li > a {
    margin-right: 30px;
    line-height: 1.42857143;
    border: none;
    background-color: #7ab535;
    color: #ffffff;
    font-size: 19px;
    padding-left: 38px;
    padding-right: 38px;
    font-family: "Open Sans", sans-serif;
    border-radius: 6px !important;
    text-transform: uppercase;
}

.payments-metods-list:before {
    display: block;
    content: "";
    height: 10px;
    -webkit-box-shadow: 2px 10px 31px -9px rgba(212, 211, 211, 0.36);
    -moz-box-shadow: 2px 10px 31px -9px rgba(212, 211, 211, 0.36);
    box-shadow: 2px 10px 31px -9px rgba(212, 211, 211, 0.36);
}

.payments-metods-list {
    margin-top: 40px;
    text-align: center;
    -webkit-box-shadow: 2px 10px 31px -9px rgba(212, 211, 211, 0.36);
    -moz-box-shadow: 2px 10px 31px -9px rgba(212, 211, 211, 0.36);
    box-shadow: 2px 10px 31px -9px rgba(212, 211, 211, 0.36);
}

.payments-metods-list li {
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 25px;
    margin-top: 25px;
}

.description-tabs-container .nav-pills > li.active > a:after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    margin-top: 10px;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-top: 5px solid #5c911d;
    left: 50%;
    margin-left: -16px;
}

.slider-amount {
    margin-bottom: 40px;
}

.bordered-section {
    border-radius: 8px;
}

.page-section-circular {
    background-color: #ffffff;
}

.divider-circular-top {
    margin-top: 60px;
    height: 18px;
    background-image: url("../images/layouts/semicircle-up.png");
}

.divider-circular-down {
    height: 19px;
    background-image: url("../images/layouts/semicircle-down.png");
    width: 100%;
}

. calculator-container {

}

.wave-layout .work-index-item:nth-child(2) img {
    margin-top: 90px;
}

.ammount-index-money {
    font-family: "Open Sans Bold";
    font-size: 15px;
    background: none;
    border: none;
    width: 50px;
}

.breadcrumbs-container ol li a {
    text-decoration: underline;
    color: #7ab535;
}

.breadcrumbs-container .breadcrumb > li + li:before {
    padding: 0 5px;
    color: #2b2b2b;
    content: "-"
}

.checked-list li {
    margin-bottom: 25px;
}

.checked-list li:after {
    display: block;
    content: "";
    clear: both;
}

.checked-list li:before {
    content: "";
    width: 19px;
    height: 17px;
    display: block;
    float: left;
    margin-top: 3px;
    background-image: url("../images/icons/i-check-list.png");
    background-repeat: no-repeat;
    margin-right: 14px;
}

.advert-article-container {
    border-bottom: 1px solid #d6d6d6;
    padding-bottom: 30px;
}

.advert-panel {
    background-color: #f3f3f3;
    padding: 30px;
    border: 1px solid #e7e7e7;
    border-radius: 15px;
    margin-top: 30px;
}
.advert-panel p {
    margin-bottom: 15px;

}

.payment-metod-row li {
    font-family: "Open Sans Bold", sans-serif;
    text-transform: uppercase;
}

.payment-metod-row li img {
    padding-left: 15px;
    padding-right: 15px;
}

.panel-collapse.collapse {
    border-bottom: 1px solid #d6d6d6;
    padding-bottom: 10px;
}

.list-default {
    padding-left: 15px;
}

.list-default li {
    margin-bottom: 30px;
    padding-left: 5px;
}

.how-it-work-layout {
    background-color: #ffffff;
    padding-bottom: 40px;
}

/* End Content */


